header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    top: 0;
    left: 0; 
    /* right: 0;
    bottom: 0; */

    padding: 0 64px;

    height: 100px;
    width: 100vw;

    box-shadow: var(--shadow);

    background-color: var(--grey-900);
}

header > h1{
    font-size: 32px;
}

header > h1 > span{
    color: var(--blue-500);
}

.nav__list{
    display: flex;
    gap: 32px;

}

.nav__list--item > a{
    text-decoration: none;
}

.user__item{
    border: none;
    background-color: transparent;
    color: var(--grey-100);
    cursor: pointer;
}

.user__item--signup{
    background-color: var(--blue-500);
    border: 1px solid var(--blue-500);
    color: var(--grey-100);
    padding: 16px 24px;
    border-radius: var(--radius-button);
    cursor: pointer;
}

.main__container{
    display: flex;
    padding-top: 150px;

    /* padding-top: 50px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: bottom 32px;
    
}

.main__title{
    font-size: 60px;

    text-align: center;

    width: 800px;

    line-height: 150%;
}

.main__title > span{
    color: var(--blue-500);
}

.main__subtitle{
    font-size: 16px;

    color: var(--grey-500);

    width: 800px;

    line-height: 150%;


}

figure{
    margin-top: 128px;
}

figure > figcaption {
    display: none;
}

.price__title{
    font-size: 32px;
    
    margin: 64px 0px;
}

.prices__container{
    display: flex;
    gap: 32PX;
}

.prices__card{
    border: 1px solid;

    padding: 32px;

    border-radius: var(--radius-defaults);

    width: 454px;

    height: 512px;

    position: relative;

}

.prices__itens{
    border-color: var(--grey-500);

    background-color: var(--grey-500);

    color: var(--grey-100);

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    gap: 32px;

    
}